<%--
  controller with put gsp
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
</head>

<body>
<h1>Put new evnt</h1>

<div>
    <g:form controller="message" action="put" >

        <g:textField name="message" />
        <g:actionSubmit value="put" />
    </g:form>
</div>
</body>
</html>